Use a new test token with > 32 bit SHA key size in the tests

### Omschrijf het probleem / Describe the bug

The current one used in the containers `Token 18b2b74ef994314b84021d47b9422e82b685d82f`
raises warnings:
>   /opt/hostedtoolcache/Python/3.12.13/x64/lib/python3.12/site-packages/jwt/api_jwt.py:147: InsecureKeyLengthWarning: The HMAC key is 8 bytes long, which is below the minimum recommended length of 32 bytes for SHA256. See RFC 7518 Section 3.2.

### Stappen om te reproduceren / Steps to reproduce

See E2E CI run: https://github.com/maykinmedia/open-beheer/actions/runs/23336652029/job/67883127104

### Verwacht gedrag / Expected behavior

_No response_

### Screen resolution

None

### Device

None

### OS

None

### Browser

_No response_